.button{
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF; 
  cursor: pointer;
}

.button:disabled {
  color: #f3f3f3;
  background-color: #61AEFF;
  cursor: default;
}
